@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply mx-auto w-[90vw] md:w-[90vw] lg:w-[50vw];
    @apply bg-[#f9f9f9] dark:bg-zinc-900;
  }
}

@layer components {
  .my-masonry-grid {
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }

  /* Style your items */
  .my-masonry-grid_column > a > div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
  }
}
